<div class="container">
  <form action="" class="form form-group col" #myForm="ngForm" (ngSubmit)="login(myForm)">
    <div class="form form-group col-md-3">
      <label for="">Usuario</label>
      <input type="email" name="email" id="" placeholder="Pepito@gmal.com" ngModel/>
    </div>
    <div class="form form-group col-md-3">
      <label for="">Password</label>
      <input type="password" name="password" placeholder="Tu clave....." ngModel/>
    </div>
    <button type="submit" class="btn btn-success">Ingresar</button>
  </form>
</div>

